html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #c7a298;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #c7a298;
}

.centered-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

iframe {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 30%;
  max-width: 400px;
  height: auto;
  max-height: 180px;
  min-height: 152px;
  opacity: 0.8;
  border-radius: 15px;
  border: none;
  z-index: 2;
}

@media (max-width: 1024px) {
  iframe {
    width: 40%;
    max-width: 350px;
    max-height: 150px;
  }
}

@media (max-width: 768px) {
  iframe {
    width: 50%;
    max-width: 300px;
    max-height: 120px;
  }
}

@media (max-width: 480px) {
  iframe {
    width: 70%;
    max-width: 250px;
    max-height: 100px;
  }
}

.pin-container,
.carta-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pin-container {
  top: 72vh;
  left: auto;
  margin-right: 15%;
}

.carta-container {
  top: 72vh;
  left: auto;
  margin-left: 15%;
}

.pin,
.carta {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

@media (min-width: 1920px) {

  .pin,
  .carta {
    width: 60px;
    height: 60px;
  }

  .pin-text,
  .carta-text {
    font-size: 25px;
  }
}

@media (max-width: 768px) {

  .pin,
  .carta {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 480px) {

  .pin,
  .carta {
    width: 30px;
    height: 30px;
  }
}

.pin-text,
.carta-text {
  margin-top: 5px;
  padding: 2px 5px;
  border-radius: 8px;
  color: #b48b58;
  font-size: 14px;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  text-decoration: none;
}

.pin-container a,
.carta-container a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

@media (min-width: 1920px) {

  .pin,
  .carta {
    width: 60px;
    height: 60px;
  }

  .pin-text,
  .carta-text {
    font-size: 25px;
  }
}

@media (max-width: 768px) {

  .pin-text,
  .carta-text {
    font-size: 12px;
    margin-top: 4px;
  }
}

@media (max-width: 425px) {

  .pin-text,
  .carta-text {
    font-size: 10px;
    margin-top: 3px;
  }
}
