html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #c7a298;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-color: #c7a298;
}

.centered-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  position: relative;
}

iframe {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 30%;
  max-width: 400px;
  height: auto;
  max-height: 180px;
  min-height: 152px;
  opacity: 0.8;
  border-radius: 15px;
  border: none;
  z-index: 2;
}

@media (max-width: 768px) {
  iframe {
    width: 50%;
    max-width: 300px;
    max-height: 120px;
  }
}

@media (max-width: 480px) {
  iframe {
    width: 70%;
    max-width: 250px;
    max-height: 100px;
  }
}

.pin-container, .carta-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pin-container {
  top: 80%; /* Ajuste a posição vertical do contêiner */
  left: auto; /* Ajuste a posição horizontal do contêiner */
  margin-right: 15%;
}

.carta-container {
  top:80%; /* Ajuste a posição vertical do contêiner */
  left: auto; /* Ajuste a posição horizontal do contêiner */
  margin-left: 15%;
}

.pin, .carta {
  width: 40px; /* Ajuste o tamanho das imagens */
  height: 40px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .pin, .carta {
    width: 30px; /* Ajuste o tamanho das imagens em tablets */
    height: 30px;
  }
}

@media (max-width: 480px) {
  .pin, .carta {
    width: 25px; /* Ajuste o tamanho das imagens em celulares */
    height: 25px;
  }
}

.pin-text, .carta-text {
  margin-top: 5px; /* Ajuste a distância entre a imagem e o texto */
  padding: 2px 5px;
  border-radius: 8px;
  color: #b48b58;
  font-size: 14px;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  text-decoration: none;
}

.pin-container a, .carta-container a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

@media (max-width: 768px) {
  .pin-text, .carta-text {
    font-size: 20px; /* Ajuste o tamanho da fonte em tablets */
    margin-top: 4px; /* Ajuste a distância entre a imagem e o texto em tablets */
  }
}

@media (max-width: 425px) {
  .pin-text, .carta-text {
    font-size: 10px; /* Ajuste o tamanho da fonte em celulares */
    margin-top: 3px; /* Ajuste a distância entre a imagem e o texto em celulares */
  }
}

@media (min-width: 1200px) {
  .pin, .carta {
    width: 60px;
    height: 60px;
  }
  .pin-text, .carta-text {
    font-size: 25px;
  }
}

/* Novos estilos para melhorar a responsividade em dispositivos móveis */
@media (max-width: 480px) {
  .pin-container, .carta-container {
    top: 70%; /* Ajuste a posição vertical para 65% da altura da tela */
  }
}
