<body>
  <div class="centered-container">
    <iframe style="border-radius:12px"
      src="https://open.spotify.com/embed/playlist/5k3nNXfnomyqsWO8NUTNve?utm_source=generator&theme=0"
      width="100%"
      height="352"
      frameborder="0"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy">
    </iframe>

    <img src="<%= asset_path('Convite.jpg') %>" alt="Convite Casamento" class="centered-image">

    <a href="https://www.google.pt/maps/place/Vale+da+Corga/@41.3375106,-8.5295916,17z/data=!3m1!4b1!4m6!3m5!1s0xd245f1d9e276e3d:0x68ccd9200f515324!8m2!3d41.3375066!4d-8.5270167!16s%2Fg%2F11bz012sb9?hl=pt-PT&entry=ttu&g_ep=EgoyMDI0MDgyOC4wIKXMDSoASAFQAw%3D%3D" target="_blank" class="pin-link">
      <img src="<%= asset_path('Location_Pin.png') %>" alt="Pin de Localização" class="pin">
    </a>
    <!-- Caixa de texto abaixo do Pin -->
    <div class="pin-text">Localização</div>

    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfbb_CO405wlxPHciPSR5_aYUVsbfeZKkZSYI3DoNVvf8pERw/viewform?usp=sf_link" target="_blank" class="carta-link">
      <img src="<%= asset_path('Carta.png') %>" alt="Carta" class="carta">
    </a>
    <!-- Caixa de texto abaixo da Carta -->
    <div class="carta-text">Confirmação</div>
  </div>
</body>
